@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
body {
  margin: 0;
  padding: 60px;
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Inconsolata', monospace;
  background-color: #1855ef;
}
a {
  text-decoration: underline;
  color: inherit;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.vlt-ratio-calculator__title h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
}
.vlt-ratio-calculator__title p {
  margin: 5px 0 0;
  color: rgba(255,255,255,0.9);
}
.vlt-ratio-calculator__title p a:hover {
  color: #fff;
}
.vlt-ratio-calculator__values {
  padding: 60px 0;
}
.vlt-ratio-calculator__values .vlt-ratio-calculator__field {
  display: inline-block;
  margin: 0 15px;
}
.vlt-ratio-calculator__demos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
}
.vlt-ratio-calculator__demos span {
  font-weight: 700;
  line-height: 1;
  color: #ccc;
}
@media (max-width: 767px) {
  body {
    padding: 60px 30px 30px;
  }
  .vlt-ratio-calculator__title h1 {
    font-size: 26px;
  }
  .vlt-ratio-calculator__values .vlt-ratio-calculator__field {
    display: block;
    margin: 15px 0;
  }
}
